:root{
  --color-background:#1b1b1b;
  --color-primary:#cfba58;
  --color-primary-hover:#f0efd1;
  --color-selection:#073642;

  --color-grey:#bdc3c7;
  --colour-black:#000000;

  --color-danger:#dc322f;
  --color-success:#859900;
  --color-warning:#b58900;
  --color-info:#2aa198;
  --font-size:1.6rem;
  --font-family:-apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
*,
::before,
::after{
  background-repeat:no-repeat;
  box-sizing:border-box;
}
::before,
::after{
  text-decoration:inherit;
  vertical-align:inherit;
}
* + *{
  margin-top:1rem;
}
* + br,
option + option,
th + th,
th + td,
td + th,
td + td,
li + li{
  margin-top:0;
}
::selection{
  background-color:#cfba58;
  background-color:#cfba58;
  background-color:var(--color-primary);
  color:#fff;
  text-shadow:none;
}
audio,
canvas,
iframe,
img,
svg,
video{
  vertical-align:middle;
}
audio,
video{
  display:inline-block;
}
audio:not([controls]){
  display:none;
  height:0;
}
img{
  border-style:none;
}
svg{
  fill:currentColor;
}
svg:not(:root){
  overflow:hidden;
}
canvas{
  display:inline-block;
}
template{
  display:none;
}
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex]{
  touch-action:manipulation;
}
[hidden]{
  display:none;
}
[aria-busy="true"]{
  cursor:progress;
}
[aria-controls]{
  cursor:pointer;
}
[aria-disabled],
[disabled]{
  cursor:not-allowed;
}
[aria-hidden="false"][hidden]:not(:focus){
  clip:rect(0, 0, 0, 0);
  display:inherit;
  position:absolute;
}
html{
  cursor:default;
  font-family:system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Segoe UI, Roboto, Ubuntu, Cantarell, Oxygen, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  line-height:1.15;
  tab-size:4;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  word-break:break-word;
    background-color:#1b1b1b;
    background-color:#1b1b1b;
    background-color:var(--color-background);
    color:#cfba58;
    color:#cfba58;
    color:var(--color-primary)
}
body{
  letter-spacing:0.01em;
  line-height:1.6;
  font-size:1.6rem;
  font-size:1.6rem;
  font-size:var(--font-size);
  font-weight:100;
  font-family:-apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-family:-apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-family:var(--font-family);
  margin:0;
  padding:0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight:500;
  margin:0.35em 0 0.7em 0;
}
h1{
  font-size:2em;
  margin:0.67em 0;
}
h2{
  font-size:1.75em;
}
h3{
  font-size:1.5em;
}
h4{
  font-size:1.25em;
}
h5{
  font-size:1em;
}
h6{
  font-size:0.85em;
}
main{
  display:block;
}
blockquote{
  background-color:#1b1b1b;
  background-color:#1b1b1b;
  background-color:var(--color-background);
  padding:1.5rem 2rem;
  border-left:1rem solid #cfba58;
  border-left:1rem solid #cfba58;
  border-left:1rem solid var(--color-primary);
  overflow:auto;
}
blockquote cite{
  float:right;
}
dl dt{
  font-weight:bold;
}
figure{
  margin:0 0;
}
figure figcaption{
  margin-top:.5rem;
}
img{
  max-width:100%;
}
iframe{
  border:0;
}
hr{
  height:1px;
  overflow:visible;

  border:none;
  background-color:#cfba58;
  background-color:#cfba58;
  background-color:var(--color-primary);
}
a{
  background-color:transparent;
  color:#cfba58;
  color:#cfba58;
  color:var(--color-primary);
}
a:focus, a:hover{
  background-color:#cfba58;
  background-color:#cfba58;
  background-color:var(--color-primary);
  color:#1b1b1b;
  color:#1b1b1b;
  color:var(--color-background);
}
code,
kbd,
pre,
samp,
tt{
  font-family:Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Oxygen Mono, Liberation Mono, monospace;

  font-size:1em;
}
code,
kbd{
  font-size:90%;
  white-space:pre-wrap;
  border-radius:4px;
  color:#d43939;
  padding:0.2em 0.4em;
  background-color:#1b1b1b;
  background-color:#1b1b1b;
  background-color:var(--color-background);
}
pre{
  font-family:Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Oxygen Mono, Liberation Mono, monospace;
  background-color:#1b1b1b;
  background-color:#1b1b1b;
  background-color:var(--color-background);
  font-size:1em;
  padding:1rem;
  overflow-x:auto;
}
pre code{
  background:none;
  padding:0;
}
table{
  width:100%;
  border:none;
  border-collapse:collapse;
  border-spacing:0;
  text-align:left;
}
table.striped tr:nth-of-type(2n){
  background-color:#f3f3f6;
}
td,
th{
  vertical-align:middle;
  padding:1.2rem 0.4rem;
}
thead{
  border-bottom:2px solid #cfba58;
  border-bottom:2px solid #cfba58;
  border-bottom:2px solid var(--color-primary);
}
tfoot{
  border-top:2px solid #cfba58;
  border-top:2px solid #cfba58;
  border-top:2px solid var(--color-primary);
}
p{
  orphans:3;
  widows:3;
  word-wrap:break-word;
}
abbr[title], .abbr{
  text-decoration:underline;
  text-decoration:underline dotted;
  text-transform:uppercase;
}
small,
.small{
  font-size:80%;
}
sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup{
  top:-.5em;
}
sub{
  bottom:-.25em;
}
b,
strong{
  font-weight:bolder;
}
