button,
input,
select,
textarea{
  font-family:inherit;
}
button,
input,
select{
  margin:.3rem 0;
}
input{
  overflow:visible;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
  height:auto;
}
::-webkit-input-placeholder{
  color:inherit;
  opacity:0.54;
}
::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
::-moz-focus-inner{
  border-style:none;
  padding:0;
}
:-moz-focusring{
  outline:1px dotted ButtonText;
}
fieldset{
  padding:0.35em 0.75em 0.625em;
  border:1px solid var(--color-primary);
  border-radius:var(--border-radius);
}
input[type='file']{
  display:block;
  font-size:inherit;
  line-height:inherit;
  cursor:pointer
}
input[type='file']:focus{
    outline:hsl(210, 100%, 85%) solid 0.2rem;
    outline:hsl(210, 100%, 85%) solid 0.2rem;
    outline:var(--primary-color, hsl(210, 100%, 85%)) solid 0.2rem;
  }
input[type='file']:disabled,
  input[type='file'][aria-disabled]{
    cursor:not-allowed;
  }
::-webkit-file-upload-button{
  font:inherit;
  -webkit-appearance:button;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]),
select,
textarea,
textarea[type="text"]{
  font-family:inherit;
  padding:0.8rem 1rem;
  border-radius:var(--border-radius);
  border:1px solid var(--color-primary);
  background-color:transparent;
  color:var(--color-primary);
  font-size:1em;
  transition:all 0.2s ease;
  display:block;
  width:100%;
}
input[disabled],
button[disabled],
input[disabled]:hover,
button[disabled]:hover{
  cursor:not-allowed;
  filter:blur(1px);
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"])[disabled],
select[disabled],
textarea[disabled],
textarea[type="text"][disabled],
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"])[readonly],
select[readonly],
textarea[readonly],
textarea[type="text"][readonly]{
  border-color:var(--color-grey);
  background-color:var(--color-grey);
  color:var(--color-primary);
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([disabled]):hover,
select:hover,
textarea:hover,
textarea[type="text"]:hover,
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([disabled]):focus,
select:focus,
textarea:focus,
textarea[type="text"]:focus{
  outline:none;
  border-color:var(--color-primary);
  box-shadow:0 0 10px var(--color-primary);
  background-color:transparent;
  color:var(--color-primary);
}
input.error:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea.error{
  border-color:var(--color-error);
}
input.success:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea.success{
  border-color:var(--color-success);
}
:-ms-input-placeholder{
  color:var(--color-primary);
}
::placeholder{
  color:var(--color-primary);
}
progress{
  display:inline-block;
  vertical-align:baseline;
}
[type="checkbox"],
[type="radio"]{
  padding:0;
  width:1.6rem;
  height:1.6rem;
}
input[type=range]{
  width:100%;
  background:transparent;
  outline:0;
  -webkit-appearance:none
}
input[type=range]::-webkit-slider-runnable-track{
    width:100%;
    height:4px;
    border-width:0;
    border-radius:0;
    background-color:#000;
    transition:background-color 0.2s ease-out;
    cursor:pointer;
  }
input[type=range]::-moz-range-track{
    width:100%;
    height:4px;
    background-color:#000;
    transition:background-color 0.2s ease-out;
    cursor:pointer;
  }
input[type=range]::-ms-track{
    width:100%;
    height:4px;
    border-width:0px;
    border-color:transparent;
    background-color:transparent;
    color:transparent;
    transition:background-color 0.2s ease-out;
    cursor:pointer;
  }
input[type=range]::-ms-fill-lower{
    background-color:#000;
  }
input[type=range]::-ms-fill-upper{
    background-color:#000;
  }
input[type=range]::-webkit-slider-thumb{
    width:2em;
    height:2em;
    margin-top:-1.5rem;
    border-color:transparent;
    border-radius:20em;
    background-color:#000;
    -webkit-appearance:none;
    cursor:pointer;
  }
input[type=range]:focus::-webkit-slider-thumb{
    outline:#000 solid 0.2rem;
  }
input[type=range]::-moz-range-thumb{
    width:2em;
    height:2em;
    border-color:transparent;
    border-radius:20em;
    background-color:#000;
    cursor:pointer;
  }
input[type=range]:focus::-moz-range-thumb{
    box-shadow:0 0 0 0.2rem #000;
  }
input[type=range]::-ms-thumb{
    width:2em;
    height:2em;
    border-color:transparent;
    border-radius:20em;
    background-color:#000;
    cursor:pointer;
  }
input[type=range]:focus::-ms-thumb{
    outline:0.2rem;
  }
input[type=range]:disabled::-webkit-slider-runnable-track, input[type=range][aria-disabled]::-webkit-slider-runnable-track{
      background-color:#000;
      cursor:not-allowed;
    }
input[type=range]:disabled::-moz-range-track, input[type=range][aria-disabled]::-moz-range-track{
      background-color:#000;
      cursor:not-allowed;
    }
input[type=range]:disabled::-ms-fill-lower, input[type=range][aria-disabled]::-ms-fill-lower{
      background-color:#000;
      cursor:not-allowed;
    }
input[type=range]:disabled::-ms-fill-upper, input[type=range][aria-disabled]::-ms-fill-upper{
      background-color:#000;
      cursor:not-allowed;
    }
input[type=range]:disabled::-webkit-slider-thumb, input[type=range][aria-disabled]::-webkit-slider-thumb{
      background-color:var(#f0f0f0);
      cursor:not-allowed;
    }
input[type=range]:disabled::-moz-range-thumb, input[type=range][aria-disabled]::-moz-range-thumb{
      background-color:var(#f0f0f0);
      cursor:not-allowed;
    }
input[type=range]:disabled::-ms-thumb, input[type=range][aria-disabled]::-ms-thumb{
      background-color:var(#f0f0f0);
      cursor:not-allowed;
    }
[type="search"]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
select{
  text-transform:none;
  margin:0;
  -webkit-appearance:none;
  background:transparent no-repeat 100%;
  color:var(--color-primary);
  background-size:1ex;
  background-origin:content-box;
}
select:not([multiple]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='#555'><polygon points='0,0 60,0 30,40'/></svg>");
}
textarea{
  margin:0;
  overflow:auto;
  resize:vertical;
}
