button,
input,
select,
textarea{
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}
button,
input,
select{
  margin:5px 0;
}
button{
  overflow:visible;
  text-transform:none;
}
button,
[type="button"],
[type="reset"],
[type="submit"]{
  -webkit-appearance:button;
}
fieldset{
  padding:0.35em 0.75em 0.625em;
}
input{
  overflow:visible;
}
legend{
  color:inherit;
  display:table;
  max-width:100%;
  white-space:normal;
}
progress{
  display:inline-block;
  vertical-align:baseline;
}
select{
  text-transform:none;
}
textarea{
  margin:0;
  overflow:auto;
  resize:vertical;
}
[type="checkbox"],
[type="radio"]{
  padding:0;
}
[type="search"]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
  height:auto;
}
::-webkit-input-placeholder{
  color:inherit;
  opacity:0.54;
}
::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
::-moz-focus-inner{
  border-style:none;
  padding:0;
}
:-moz-focusring{
  outline:1px dotted ButtonText;
}
[type="button"],
[type="reset"],
[type="submit"],
[role="button"],
button{
  padding:1rem 2.5rem;
  background-color:transparent;
  color:var(--color-primary);
  border-radius:4px;
  border:1px solid var(--color-primary);
  font-size:var(--font-size);
  line-height:1;
  text-align:center;
  transition:opacity 0.2s ease;
  text-decoration:none;
  -webkit-transform:scale(1);
          transform:scale(1);
  display:inline-block;
}
[type="button"],
[type="reset"],
[type="submit"],
button{
  -webkit-appearance:button;
}
[type="button"]:active,
[type="reset"]:active,
[type="submit"]:active,
button:active{
  -webkit-transform:scale(0.98);
          transform:scale(0.98);
}
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
[role="button"]:hover,
button:not([disabled]):hover,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus,
[role="button"]:focus,
button:not([disabled]):focus{
  background-color:var(--color-primary);
  color:var(--color-background);
  border:1px solid var(--color-primary);
  box-shadow:0 0 10px var(--color-primary);
}
fieldset{
  padding:0.35em 0.75em 0.625em;
  border:1px solid var(--color-primary);
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]),
select,
textarea,
textarea[type="text"]{
  font-family:inherit;
  padding:0.8rem 1rem;
  border-radius:4px;
  border:1px solid var(--color-primary);
  background-color:transparent;
  color:var(--color-primary);
  font-size:1em;
  transition:all 0.2s ease;
  display:block;
  width:100%;
}
input[disabled],
button[disabled],
input[disabled]:hover,
button[disabled]:hover{
  cursor:not-allowed;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"])[disabled],
select[disabled],
textarea[disabled],
textarea[type="text"][disabled],
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"])[readonly],
select[readonly],
textarea[readonly],
textarea[type="text"][readonly]{
  border-color:var(--color-grey);
  background-color:var(--color-grey);
  color:var(--color-primary);
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([disabled]):hover,
select:hover,
textarea:hover,
textarea[type="text"]:hover{
  border-color:var(--color-primary);
  box-shadow:0 0 10px var(--color-primary);
  background-color:transparent;
  color:var(--color-primary);
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):focus,
select:focus,
textarea:focus,
textarea[type="text"]:focus,
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):hover,
select:hover,
textarea:hover,
textarea[type="text"]:hover{
  outline:none;
  border-color:var(--color-primary);
  box-shadow:0 0 10px var(--color-primary);
  background-color:transparent;
  color:var(--color-primary);
}
input.error:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea.error{
  border-color:var(--color-error);
}
input.success:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea.success{
  border-color:var(--color-success);
}
[type="checkbox"],
[type="radio"]{
  width:1.6rem;
  height:1.6rem;
}
::-webkit-input-placeholder{
  color:var(--color-primary);
}
:-ms-input-placeholder{
  color:var(--color-primary);
}
::-ms-input-placeholder{
  color:var(--color-primary);
}
::placeholder{
  color:var(--color-primary);
}
legend{
  text-transform:uppercase;
  font-size:0.8em;
  letter-spacing:0.1rem;
}
select{
  margin:0;
  -webkit-appearance:none;
  background:transparent no-repeat 100%;
  color:var(--color-primary);
  background-size:1ex;
  background-origin:content-box;
}
select:not([multiple]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='#555'><polygon points='0,0 60,0 30,40'/></svg>");
}
