button,
input,
select{
  margin:0.3rem 0;
}
textarea,
input{
  letter-spacing:inherit;
  word-spacing:inherit;
}
input{
  overflow:visible;
}
input:not([type="range"]),
select,
textarea{
  -webkit-appearance:none;
  font-family:inherit;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
  height:auto;
}
::-webkit-input-placeholder{
  color:inherit;
  opacity:0.54;
}
::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
::-moz-focus-inner{
  border-style:none;
  padding:0;
}
:-moz-focusring{
  outline:1px dotted ButtonText;
}
button,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"]{
  cursor:pointer;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]):not([type="button"]):not([role="button"]),
select,
textarea{
  display:block;
}
fieldset:not([class]){
  border:1px solid var(--secondary-light);
  border-radius:var(--border-radius);
  margin:var(--line-height) 0;
  padding:1rem 1rem 1rem;
}
fieldset:not([class]) > :last-child{
  margin-bottom:0;
}
legend:not([class]){
  background:var(--secondary-lighter);
  border:1px solid var(--secondary-light);
  border-radius:var(--border-radius);
  color:var(--secondary-darker);
  padding:0.25rem 0.5rem;
}
label{
  font:inherit;
}
[type="button"]:not([class]),
[type="reset"]:not([class]),
[type="submit"]:not([class]),
[role="button"]:not([class]),
button:not([class]),
.button{
  background-color:var(--primary-transparent);
  border:1px solid var(--primary);
  border-radius:var(--border-radius);
  color:var(--primary);
  display:inline-block;
  font-size:inherit;
  line-height:1;
  overflow:visible;
  padding:1rem 2.5rem;
  text-align:center;
  text-decoration:none;
  text-transform:none;
  transform:scale(1);
  transition:opacity 0.2s ease;
}
[type="button"]:not([class]),
[type="reset"]:not([class]),
[type="submit"]:not([class]),
button:not([class]),
.button{
  -webkit-appearance:none;
}
button:not([class]) + button:not([class]){
  margin:auto 0.5rem;
}
[type="button"]:not([class]):active,
[type="reset"]:not([class]):active,
[type="submit"]:not([class]):active,
button:not([class]):active,
.button:active{
  transform:scale(0.98);
}
[type="button"]:not([class]):not([disabled]):hover,
[type="reset"]:not([class]):not([disabled]):hover,
[type="submit"]:not([class]):not([disabled]):hover,
[role="button"]:not([class]):not([disabled]):hover,
button:not([class]):not([disabled]):hover,
.button:not([disabled]):hover,
[type="button"]:not([class]):not([disabled]):focus,
[type="reset"]:not([class]):not([disabled]):focus,
[type="submit"]:not([class]):not([disabled]):focus,
[role="button"]:not([class]):not([disabled]):focus,
button:not([class]):not([disabled]):focus,
.button:not([disabled]):focus{
  background-color:var(--primary);
  border:1px solid var(--primary);
  box-shadow:0 0 10px var(--primary);
  color:var(--primary-bg);
  cursor:not-allowed;
}
input:not([type="file"]):not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([class]),
optgroup:not([class]),
option:not([class]),
textarea:not([class]),
select:not([class]){
  border:1px solid var(--secondary-light);
  border-radius:var(--border-radius);
  box-sizing:border-box;
  font:inherit;
  font-size:1rem;
  height:2.5rem;
  line-height:1;
  margin:0;
  max-width:100%;
  min-width:15rem;
  padding:0 0.5rem;
  text-transform:none;
  width:100%;
}
input[type="date"]:not([class]),
input[type="datetime-local"]:not([class]),
input[type="email"]:not([class]),
input[type="month"]:not([class]),
input[type="number"]:not([class]),
input[type="password"]:not([class]),
input[type="search"]:not([class]),
input[type="tel"]:not([class]),
input[type="time"]:not([class]),
input[type="url"]:not([class]),
input[type="week"]:not([class]){
  background-position:0.5rem 50%;
  background-repeat:no-repeat;
  background-size:1.5rem 1.5rem;
  padding-left:2.5rem !important;
}
input[type="date"]:not([class]),
input[type="datetime-local"]:not([class]),
input[type="month"]:not([class]),
input[type="week"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><rect x='1' y='5' width='37' height='7' fill='%23e8e8e8' /><path d='M1,5 37,5 37,37 1,37 Z M1,13 37,13 37,21 1,21 1,29 37,29 M7,5 7,37 13,37 13,5 19,5 19,37 25,37 25,5 31,5 31,37' stroke='%23ccc' stroke-width='2' fill='none' /></svg>");
  padding:0 2.5rem;
}
input[type="email"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M1,5 39,5 39,35 1,35 1,5 20,22 39,5' stroke='%23ccc' stroke-width='2' fill='none' /></svg>");
  padding:0 2.5rem;
}
input[type="time"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='20' r='19' fill='none' stroke='%23ccc' stroke-width='2' /><path d='M21,20 8.5,20' stroke='%23ccc' stroke-width='3' /><path d='M20,21 20,5' stroke='%23ccc' stroke-width='2' /></svg>");
  padding:0 2.5rem;
}
input[type="search"]:not([class]){
  appearance:textfield;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M36,36 20,20' stroke='%23ccc' stroke-width='3' /><circle cx='15' cy='15' r='14' fill='white' stroke='%23ccc' stroke-width='2' /></svg>");
  padding:0 2.5rem;
}
input[type="password"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='15' r='10' fill='none' stroke='%23ccc' stroke-width='2' /><path fill='white' stroke='%23ccc' stroke-width='2' d='M5,19 35,19 35,39 5,39Z M20,25 20,30' /></svg>");
  padding:0 2.5rem;
}
input[type="tel"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><g fill='none' stroke='%23ccc' stroke-width='2'><path d='M8,1 34,1 34,39 8,39Z M12,5 30,5 30,30 12,30Z' /><circle cx='21' cy='34' r='2' /></g></svg>");
  padding:0 2.5rem;
}
input[type="url"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><g fill='none' stroke='%23ccc' stroke-width='2'><circle cx='20' cy='20' r='19'  /><path d='M2,20 38,20 M20,2 C7,2 7,38 20,38 33,38 33,2 20,2 20,2 20,38 20,38' /></g></svg>");
  padding:0 2.5rem;
}
input[type="number"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M26,4 21,36 M15,4 10,36 M4,15 36,15 M2,26 34,26' fill='none' stroke='%23ccc' stroke-width='2' /></svg>");
  padding:0 2.5rem;
}
input[type="number"]:not([class])::-webkit-inner-spin-button,
input[type="number"]:not([class])::-webkit-outer-spin-button{
  height:auto;
}
input[type="search"]:not([class])::-webkit-search-cancel-button,
input[type="search"]:not([class])::-webkit-search-decoration{
  appearance:none;
}
input[type="radio"]:not([class]),
input[type="checkbox"]:not([class]),
input[type="image"]:not([class]),
input[type="file"]:not([class]){
  border:0;
  box-sizing:border-box;
  height:auto;
  max-width:none;
  max-width:initial;
  min-width:auto;
  padding:0;
}
input[type="color"]:not([class]){
  padding:0.125rem;
}
input[type="range"]:not([class]){
  padding:0;
}
input:not([type="file"]):not([class]):invalid,
optgroup:not([class]):invalid,
option:not([class]):invalid,
textarea:not([class]):invalid,
select:not([class]):invalid{
  border-color:var(--danger);
}
input:not([class]):not([type="file"]):disabled,
optgroup:not([class]):disabled,
option:not([class]):disabled,
textarea:not([class]):disabled,
select:not([class]):disabled,
input:not([class]):not([type="file"])[disabled],
optgroup[disabled]:not([class]),
option[disabled]:not([class]),
textarea[disabled]:not([class]),
select[disabled]:not([class]){
  background:var(--secondary-lighter);
  color:var(--secondary-light);
}
input:not([type="file"]):not([disabled]):not([class]):hover,
optgroup:not([disabled]):not([class]):hover,
textarea:not([disabled]):not([class]):hover,
input:not([type="file"]):not([disabled]):not([class]):focus,
optgroup:not([disabled]):not([class]):focus,
textarea:not([disabled]):not([class]):focus{
  border:1px solid var(--secondary);
  box-shadow:0 0 10px var(--primary);
}
input:not([type="file"]):not([type="image"]):not(:invalid):not(:disabled):not([disabled]):not([readonly]):not([class]):hover,
textarea:not(:invalid):not(:disabled):not([disabled]):not([readonly]):not([class]):hover,
select:not(:invalid):not(:disabled):not([disabled]):not([readonly]):not([class]):hover{
  border:1px solid var(--secondary);
  box-shadow:0 0 10px var(--secondary);
}
textarea:not([class]){
  height:5rem;
  line-height:1.5rem;
  margin:0;
  overflow:auto;
  resize:vertical;
}
[type="checkbox"]:not([class]):not(:checked),
[type="checkbox"]:not([class]):checked{
  left:-9999px;
  position:absolute;
}
[type="checkbox"]:not([class]):not(:checked) + label,
[type="checkbox"]:not([class]):checked + label{
  cursor:pointer;
  padding-left:1.95em;
  position:relative;
}
[type="checkbox"]:not([class]):not(:checked) + label:before,
[type="checkbox"]:not([class]):checked + label:before{
  background:var(--secondary-bg);
  border:2px solid var(--secondary-light);
  border-radius:4px;
  box-shadow:inset 0 1px 3px var(--secondary-bg);
  content:''; height:1.25em;
  left:0;
  position:absolute; top:0;
  width:1.25em;
}
[type="checkbox"]:not([class]):not(:checked) + label:after,
[type="checkbox"]:not([class]):checked + label:after{
  background:var(--primary);
  color:#09ad7e;
  font-family:inherit;
  font-size:1.3em; left:.22em;
  line-height:0.8;
  position:absolute;
  top:.15em;
  transition:all .2s;
}
[type="checkbox"]:not([class]):not(:checked) + label:not([class]):after{
  opacity:0;
  transform:scale(0);
}
[type="checkbox"]:not([class]):checked + label:not([class]):after{
  background:var(--primary);
  opacity:1;
  transform:scale(1);
}
[type="checkbox"]:not([class]):disabled:not(:checked) + label:not([class]):before,
[type="checkbox"]:not([class]):disabled:checked + label:not([class]):before{
  background-color:#ddd;
  border-color:#bbb;
  box-shadow:none;
}
[type="checkbox"]:not([class]):disabled:checked + label:not([class]):after{
  color:#999;
}
[type="checkbox"]:not([class]):disabled + label:not([class]){
  color:var(--secondary-light);
}
[type="checkbox"]:not([class]):checked:focus + label:not([class]):before,
[type="checkbox"]:not([class]):not(:checked):focus + label:not([class]):before{
  border:2px dotted blue;
}
label:not([class]):hover:before{
  border:2px solid #4778d9 !important;
}
select:not([class]){
  -webkit-appearance:none;
  background:transparent no-repeat 100%;
  background-origin:content-box;
  background-size:1ex;
  color:var(--primary);
  margin:0;
  text-transform:none;
}
select:not([multiple]):not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='var(--primary)'><polygon points='0,0 60,0 30,40'/></svg>");
}
option:not([class]){
  align-items:center;
  border:0;
  border-radius:0;
  display:flex;
  font-weight:var(--font-weight-normal);
  justify-content:flex-start;
}
option:not([class]):hover,
option:not([class]):focus{
  background:var(--primary-lighter);
  border:0;
}
select[multiple]:not([class]){
  min-height:10rem;
  padding:0;
}
select[multiple]:not([class]) option:not([class]):checked{
  background:var(--secondary-light);
  color:var(--primary-dark);
}
select[multiple]:not([class]) option:not([class]):checked:focus,
select[multiple]:not([class]) option:not([class]):checked:hover{
  background:var(--primary);
  color:var(--primary-dark);
}
optgroup:not([class]){
  border:0;
  border-radius:0;
  font-weight:var(--font-weight-bolder);
  padding:0.5rem;
}
input[type="file"]:not([class]){
  cursor:pointer;
  display:block;
  font:inherit;
  font-size:inherit;
  line-height:inherit;
  max-width:auto;
  min-height:2.5rem;
  min-width:auto;
  overflow:visible;
  padding:0 1rem;
  width:100%;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  background-color:var(--primary-transparent);
  border:1px solid var(--primary);
  border-radius:var(--border-radius);
  color:var(--primary);
  transform:scale(1);
  -webkit-transition:opacity 0.2s ease;
  transition:opacity 0.2s ease;
}
input[type="file"]:not([class]):disabled,
input[type="file"][aria-disabled]:not([class]){
  cursor:not-allowed;
}
input[type="file"]:not([class]):focus,
input[type="file"]:not([class]):hover{
  background-color:var(--primary);
  border:1px solid var(--primary);
  box-shadow:0 0 10px var(--primary);
  color:var(--primary-bg);
  transform:scale(0.98);
}
progress:not([class]){
  display:inline-block;
  max-width:100%;
  min-width:15rem;
  vertical-align:baseline;
  width:100%;
}
