textarea,
input{
  letter-spacing:inherit;
  word-spacing:inherit;
}
input{
  overflow:visible;
}
input:not([type="range"]),
select,
textarea{
  -webkit-appearance:none;
  font-family:inherit;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
  height:auto;
}
::-webkit-input-placeholder{
  color:inherit;
  opacity:0.54;
}
::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
::-moz-focus-inner{
  border-style:none;
  padding:0;
}
:-moz-focusring{
  outline:1px dotted ButtonText;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]):not([type="button"]):not([role="button"]),
select,
textarea{
  display:block;
}
fieldset:not([class]){
  border:1px solid var(--secondary-light);
  border-radius:var(--border-radius);
  margin:var(--line-height) 0;
  padding:1rem 1rem 1rem;
}
fieldset:not([class]) > :last-child{
  margin-bottom:0;
}
legend:not([class]){
  background:var(--secondary-lighter);
  border:1px solid var(--secondary-light);
  border-radius:var(--border-radius);
  color:var(--secondary-darker);
  padding:0.25rem 0.5rem;
}
label{
  font:inherit;
}
input[type="date"]:not([class]),
input[type="datetime-local"]:not([class]),
input[type="email"]:not([class]),
input[type="month"]:not([class]),
input[type="number"]:not([class]),
input[type="password"]:not([class]),
input[type="search"]:not([class]),
input[type="tel"]:not([class]),
input[type="time"]:not([class]),
input[type="url"]:not([class]),
input[type="week"]:not([class]){
  background-position:0.5rem 50%;
  background-repeat:no-repeat;
  background-size:1.5rem 1.5rem;
  padding-left:2.5rem !important;
}
input[type="date"]:not([class]),
input[type="datetime-local"]:not([class]),
input[type="month"]:not([class]),
input[type="week"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><rect x='1' y='5' width='37' height='7' fill='%23e8e8e8' /><path d='M1,5 37,5 37,37 1,37 Z M1,13 37,13 37,21 1,21 1,29 37,29 M7,5 7,37 13,37 13,5 19,5 19,37 25,37 25,5 31,5 31,37' stroke='%23ccc' stroke-width='2' fill='none' /></svg>");
  padding:0 2.5rem;
}
input[type="email"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M1,5 39,5 39,35 1,35 1,5 20,22 39,5' stroke='%23ccc' stroke-width='2' fill='none' /></svg>");
  padding:0 2.5rem;
}
input[type="time"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='20' r='19' fill='none' stroke='%23ccc' stroke-width='2' /><path d='M21,20 8.5,20' stroke='%23ccc' stroke-width='3' /><path d='M20,21 20,5' stroke='%23ccc' stroke-width='2' /></svg>");
  padding:0 2.5rem;
}
input[type="search"]:not([class]){
  appearance:textfield;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M36,36 20,20' stroke='%23ccc' stroke-width='3' /><circle cx='15' cy='15' r='14' fill='white' stroke='%23ccc' stroke-width='2' /></svg>");
  padding:0 2.5rem;
}
input[type="password"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><circle cx='20' cy='15' r='10' fill='none' stroke='%23ccc' stroke-width='2' /><path fill='white' stroke='%23ccc' stroke-width='2' d='M5,19 35,19 35,39 5,39Z M20,25 20,30' /></svg>");
  padding:0 2.5rem;
}
input[type="tel"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><g fill='none' stroke='%23ccc' stroke-width='2'><path d='M8,1 34,1 34,39 8,39Z M12,5 30,5 30,30 12,30Z' /><circle cx='21' cy='34' r='2' /></g></svg>");
  padding:0 2.5rem;
}
input[type="url"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><g fill='none' stroke='%23ccc' stroke-width='2'><circle cx='20' cy='20' r='19'  /><path d='M2,20 38,20 M20,2 C7,2 7,38 20,38 33,38 33,2 20,2 20,2 20,38 20,38' /></g></svg>");
  padding:0 2.5rem;
}
input[type="number"]:not([class]){
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M26,4 21,36 M15,4 10,36 M4,15 36,15 M2,26 34,26' fill='none' stroke='%23ccc' stroke-width='2' /></svg>");
  padding:0 2.5rem;
}
input[type="number"]:not([class])::-webkit-inner-spin-button,
input[type="number"]:not([class])::-webkit-outer-spin-button{
  height:auto;
}
input[type="search"]:not([class])::-webkit-search-cancel-button,
input[type="search"]:not([class])::-webkit-search-decoration{
  appearance:none;
}
input[type="image"]:not([class]),
input[type="file"]:not([class]){
  border:0;
  box-sizing:border-box;
  height:auto;
  max-width:none;
  max-width:initial;
  min-width:auto;
  padding:0;
}
input[type="color"]:not([class]){
  padding:0.125rem;
}
input[type="range"]:not([class]){
  padding:0;
}
input:not([type="file"]):not([class]):invalid,
optgroup:not([class]):invalid,
option:not([class]):invalid,
textarea:not([class]):invalid,
select:not([class]):invalid{
  border-color:var(--danger);
}
textarea:not([class]){
  height:5rem;
  line-height:1.5rem;
  margin:0;
  overflow:auto;
  resize:vertical;
}
input[type="checkbox"],
input[type="radio"]{
  border:1px solid var(--primary);
  border-radius:50%;
  display:inline-block;
  height:20px;
  margin:0;
  margin-right:2px;
  min-width:auto;
  padding:1px;
  position:relative;
  vertical-align:middle;
  width:20px
}
input[type="checkbox"]:focus,
  input[type="checkbox"]:hover,
  input[type="radio"]:focus,
  input[type="radio"]:hover{
    box-shadow:0 0 10px var(--primary);
    outline:0;
  }
input[type="checkbox"]:checked,input[type="radio"]:checked{
    background-color:var(--primary);
  }
input[type="checkbox"]:active,input[type="radio"]:active{
    background-image:linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }
input[type="checkbox"]:disabled,input[type="radio"]:disabled{
    border:1px solid grey;
    border-radius:50%;
    cursor:not-allowed;
  }
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label{
  cursor:not-allowed;
}
select:not([class]){
  background:var(--secondary-lighter) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='var(--primary)'><polygon points='0,0 60,0 30,40'/></svg>")  calc(100% - 12px) 50% / 12px no-repeat;
  border:1px solid var(--secondary-light);
  border-radius:var(--border-radius);
  display:block;
  font:inherit;
  padding-right:2rem;
  width:100%;
}
select::-ms-expand{
  display:none;
}
select:not([class])[multiple],
select:not([class])[size]{
  background-image:none;
  height:auto;
  overflow-y:auto;
  padding-right:.5rem;
  padding-top:.5rem;
}
input[type="file"]:not([class]){
  cursor:pointer;
  display:block;
  font:inherit;
  font-size:inherit;
  line-height:inherit;
  max-width:auto;
  min-height:2.5rem;
  min-width:auto;
  overflow:visible;
  padding:0 1rem;
  width:100%
}
input[type="file"]:not([class]):disabled,
  input[type="file"]:not([class])[aria-disabled]{
    cursor:not-allowed;
  }
input[type=file]:not([class])::-webkit-file-selector-button,
input[type=file]:not([class])::-webkit-file-upload-button{
  -webkit-appearance:button;
  background-color:var(--primary-transparent);
  border:1px solid var(--primary);
  border-radius:var(--border-radius);
  color:var(--primary);
  transform:scale(1);
  -webkit-transition:opacity 0.2s ease;
  transition:opacity 0.2s ease
}
input[type=file]:not([class])::-webkit-file-selector-button:focus,
  input[type=file]:not([class])::-webkit-file-selector-button:hover,
  input[type=file]:not([class])::-webkit-file-upload-button:focus,
  input[type=file]:not([class])::-webkit-file-upload-button:hover{
    background-color:var(--primary);
    border:1px solid var(--primary);
    box-shadow:0 0 10px var(--primary);
    color:var(--primary-bg);
    transform:scale(0.98);
  }
progress:not([class]){
  display:inline-block;
  max-width:100%;
  min-width:15rem;
  vertical-align:baseline;
  width:100%;
}
