button.danger:not([disabled]),
.button.danger:not([disabled]){
  color:var(--color-danger);
  border-color:var(--color-danger);
}
button.warning:not([disabled]), .button.warning:not([disabled]){
  color:var(--color-warning);
  border-color:var(--color-warning);
}
button.success:not([disabled]), .button.success:not([disabled]){
  color:var(--color-success);
  border-color:var(--color-success);
}
[role="button"].clear:not([disabled]){
  background-color:transparent;
  border-color:transparent;
  color:var(--color-primary);
}
[role="button"].clear:hover:not([disabled]), [role="button"].clear:focus:not([disabled]){
  text-decoration:underline;
  background-color:var(--color-primary);
  color:#fff;
  border-radius:4px;
  border:1px solid var(--color-primary);
}
.button.warning:not([disabled]):hover,
.button.warning:not([disabled]):focus,
button.warning:not([disabled]):hover,
button.warning:not([disabled]):focus{
  color:#000;
  background-color:var(--color-warning);
}
.button.danger:not([disabled]):hover,
.button.danger:not([disabled]):focus,
button.danger:not([disabled]):hover,
button.danger:not([disabled]):focus{
  color:#fff;
  background-color:var(--color-danger);
}
.button.success:not([disabled]):hover,
.button.success:not([disabled]):focus,
button.success:not([disabled]):hover,
button.success:not([disabled]):focus{
  color:#000;
  background-color:var(--color-success);
}