body {
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: var(--font-size);
  font-weight: 100;
  font-family: var(--font-family);
  /**
   * Remove the margin in all browsers (opinionated).
   */
  margin: 0;
  padding: 0;
}