/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: var(--font-size);
  font-weight: 400;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif; /*fallback*/
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}