code,
kbd,
pre,
samp,
tt {
  font-family: monaco, "Consolas", "Lucida Console", monospace;
}

code,
kbd {
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 4px;
  color: #d43939;
  padding: 0.2em 0.4em;
  background-color: #f3f3f6;
}

pre {
  background-color: #f3f3f6;
  font-size: 1em;
  padding: 1rem;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}