/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  color: var(--color-primary);
}

a:focus, a:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}