/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

table.striped tr:nth-of-type(2n) {
  background-color: #f3f3f6;
}

td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
}

thead {
  border-bottom: 2px solid var(--color-primary);
}

tfoot {
  border-top: 2px solid var(--color-primary);
}
