*,
*::before,
*::after{
  box-sizing:border-box;
}
:where(html){
  scroll-behavior:smooth;
}
:where(body){
  line-height:1.5;
  min-height:100vh;
  text-rendering:optimizeSpeed;
}
:where(img),
:where(picture){
  display:block;
  max-width:100%;
}
:where(input),
:where(button),
:where(textarea),
:where(select){
  font:inherit;
}
:where(ul[role="list"]),
:where(ol[role="list"]){
  list-style:none;
}
:where(a):not([class]){
  -webkit-text-decoration-skip:ink;
          text-decoration-skip-ink:auto;
}
@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after{
    animation-duration:0.01ms !important;
    animation-iteration-count:1 !important;
    scroll-behavior:auto !important;
    transition-duration:0.01ms !important;
  }
}
