fieldset:not([class]) {
  border: 1px solid var(--secondary-light);
  border-radius: var(--border-radius);
  margin: var(--line-height) 0;
  padding: 1rem 1rem 1rem;
}

fieldset:not([class]) > :last-child {
  margin-bottom: 0;
}

legend:not([class]) {
  background: var(--secondary-lighter);
  border: 1px solid var(--secondary-light);
  border-radius: var(--border-radius);
  color: var(--secondary-darker);
  padding: 0.25rem 0.5rem;
}
