/* file input */
:where(input[type="file"]) {
  cursor: pointer;
  display: block;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  max-width: auto;
  min-height: 2.5rem;
  min-width: auto;
  overflow: visible;
  padding: 0 1rem;
  width: 100%;
}

:where(input[type="file"][disabled]),
:where(input[type="file"][aria-disabled]) {
  cursor: not-allowed;
}

 /* {
  -webkit-appearance: button;
  background-color: var(--primary-transparent);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  color: var(--primary);
  transform: scale(1);
} */

input[type=file]::-webkit-file-selector-button,
input[type=file]::-webkit-file-upload-button {
  -webkit-appearance: button;
  background-color: var(--primary-transparent);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  color: var(--primary);
  transform: scale(1);
  transition: opacity 0.2s ease;

  &:focus,
  &:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: 0 0 .3rem var(--primary);
    color: var(--primary-bg);
    transform: scale(0.98);
  }
}
