/* Base for label styling */
[type="checkbox"]:not([class]):not(:checked),
[type="checkbox"]:not([class]):checked {
  left: -9999px;
  position: absolute;
}
[type="checkbox"]:not([class]):not(:checked) + label,
[type="checkbox"]:not([class]):checked + label {
  cursor: pointer;
  padding-left: 1.95em;
  position: relative;
}

/* checkbox aspect */
[type="checkbox"]:not([class]):not(:checked) + label:before,
[type="checkbox"]:not([class]):checked + label:before {
  background: var(--secondary-bg);
  border: 2px solid var(--secondary-light);
  border-radius: 4px;
  box-shadow: inset 0 1px 3px var(--secondary-bg);
  content: ''; height: 1.25em;
  left: 0;
  position: absolute; top: 0;
  width: 1.25em;
}
/* checked mark aspect */
[type="checkbox"]:not([class]):not(:checked) + label:after,
[type="checkbox"]:not([class]):checked + label:after {
  background: var(--primary);
  color: #09ad7e;
  font-family: inherit;
  font-size: 1.3em; left: .22em;
  line-height: 0.8;
  position: absolute;
  top: .15em;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not([class]):not(:checked) + label:not([class]):after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:not([class]):checked + label:not([class]):after {
  background: var(--primary);
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:not([class]):disabled:not(:checked) + label:not([class]):before,
[type="checkbox"]:not([class]):disabled:checked + label:not([class]):before {
  background-color: #ddd;
  border-color: #bbb;
  box-shadow: none;
}
[type="checkbox"]:not([class]):disabled:checked + label:not([class]):after {
  color: #999;
}
[type="checkbox"]:not([class]):disabled + label:not([class]) {
  color: var(--secondary-light);
}
/* accessibility */
[type="checkbox"]:not([class]):checked:focus + label:not([class]):before,
[type="checkbox"]:not([class]):not(:checked):focus + label:not([class]):before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:not([class]):hover:before {
  border: 2px solid #4778d9 !important;
}
