
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:where(textarea),
:where(input) {
  letter-spacing: inherit;
  word-spacing: inherit;
}
/**
 * Show the overflow in Edge and IE.
 */
:where(input) {
  overflow: visible;
}

/**
 * Inherit styling in all browsers (opinionated).
 */
:where(select),
:where(textarea) {
  -webkit-appearance: none;
  display: block;
  font-family: inherit;
}

:where(input):not([type="range"]) {
  -webkit-appearance: none;
  font-family: inherit;
}

:where(input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]):not([type="button"]):not([role="button"])) {
  display: block;
}
