:where(a),
:where(a.link) {
  background-color: transparent;
  box-shadow: none;
  color: var(--primary);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;

  /* stylelint-disable no-descending-specificity */
  &:visited {
    color: var(--primary-dark);
  }

  &:hover,
  &:focus {
    background-color: var(--primary-dark);
    box-shadow: 0 0 .3rem var(--primary);
    color: var(--primary-bg);
    outline: 0;
    text-decoration: none;
  }
  /* stylelint-enable no-descending-specificity */
}

:where(a[href^='mailto:'])::before,
:where(a[href^='tel:'])::before,
:where(a[href^='sms:'])::before,
:where(a[href^='file:'])::before,
:where(a[rel="external"])::before,
:where(a[rel="bookmark"])::before,
:where(a[rel="download"])::before {
  display: inline-block;
  margin-right: .5rem;
  text-decoration: none;
}

:where(a[href^='mailto:'])::before {
  content: '✉️';
}

:where(a[href^='tel:'])::before {
  content: '📱';
}

:where(a[href^='sms:'])::before {
  content: '💬';
}

:where(a[href^='file:'])::before {
  content: '📁';
}

:where(a[rel="external"])::before {
  content: '↩︎';
}

:where(a[rel="bookmark"])::before {
  content: '🔖';
}

:where(a[rel="download"])::before {
  content: '⤵️';
}
