a:not([class]),
a:link:not([class]) {
  background-color: transparent;
  color: var(--primary);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;

  /* stylelint-disable no-descending-specificity */
  &:visited {
    color: var(--primary-dark);
  }

  &:hover,
  &:focus {
    background-color: var(--primary-dark);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px var(--primary);
    color: var(--primary-bg);
    outline: 0;
    padding: .2rem 0;
    text-decoration: none;
  }
  /* stylelint-enable no-descending-specificity */
}

a[href^='mailto:']:not([class])::before,
a[href^='tel:']:not([class])::before,
a[href^='sms:']:not([class])::before,
a[href^='file:']:not([class])::before,
a[rel="external"]:not([class])::before,
a[rel="bookmark"]:not([class])::before,
a[rel="download"]:not([class])::before {
  display: inline-block;
  margin-right: .5rem;
  text-decoration: none;
}

a[href^='mailto:']:not([class])::before {
  content: '📩';
}

a[href^='tel:']:not([class])::before {
  content: '📲';
}

a[href^='sms:']:not([class])::before {
  content: '💬';
}

a[href^='file:']:not([class])::before {
  content: '📂';
}

a[rel="external"]:not([class])::before {
  content: '🌐';
}

a[rel="bookmark"]:not([class])::before {
  content: '🔖';
}

a[rel="download"]:not([class])::before {
  content: '⤵️';
}
