a,
a.link {
  background-color: transparent;
  color: var(--primary);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;

  /* stylelint-disable no-descending-specificity */
  &:visited {
    color: var(--primary-dark);
  }

  &:hover,
  &:focus {
    background-color: var(--primary-dark);
    box-shadow: 0 0 .6rem var(--primary);
    color: var(--primary-bg);
    outline: 0;
    text-decoration: none;
  }
  /* stylelint-enable no-descending-specificity */
}

a[href^='mailto:']::before,
a[href^='tel:']::before,
a[href^='sms:']::before,
a[href^='file:']::before,
a[rel="external"]::before,
a[rel="bookmark"]::before,
a[rel="download"]::before {
  display: inline-block;
  margin-right: .5rem;
  text-decoration: none;
}

a[href^='mailto:']::before {
  content: '✉️';
}

a[href^='tel:']::before {
  content: '📱';
}

a[href^='sms:']::before {
  content: '💬';
}

a[href^='file:']::before {
  content: '📁';
}

a[rel="external"]::before {
  content: '↩︎';
}

a[rel="bookmark"]::before {
  content: '🔖';
}

a[rel="download"]::before {
  content: '⤵️';
}
