a,
a:link,
a:visited,
a:active,
a:focus {
  background-color: transparent;
  color: var(--primary);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

a:hover {
  background-color: var(--primary-dark);
  color: var(--primary-bg);
  text-decoration: none;
}

a[href^='mailto:']::before {
  content: '📩 ';
}

a[href^='tel:']::before {
  content: '📲 ';
}

a[href^='sms:']::before {
  content: '💬 ';
}

a[href^='file:']::before {
  content: '📂 ';
}

a[rel="external"]::before {
  content: '🌐 ';
}

a[rel="bookmark"]::before {
  content: '🔖 ';
}

a[rel="download"]::before {
  content: '⤵️ ';
}
