code:not([class]) {
  background: var(--secondary-transparent);
  color: var(--secondary-lighter);
  display: inline-block;
  font-family: var(--font-family-mono);
  font-size: 1em;
  font-weight: var(--font-weight-bold);
  padding: 0 0.25rem;
}
