:where(details) {
  border: 0;
  display: block;
}

:where(summary) {
  -webkit-appearance: none;
  background-color: var(--primary-transparent);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  color: var(--primary);
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  overflow: visible;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transform: scale(1);
  transition: opacity 0.2s ease;
  width: 100%;

  &:focus,
  &:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: 0 0 .3rem var(--primary);
    color: var(--primary-bg);
    cursor: pointer;
    outline: 0;
  }
}


/* details summary {
  margin: 0 -1rem;
  padding: 1rem;
}

details[open] summary {
  border-bottom: 1px solid var(--secondary-light);
} */

/* details {
  margin: 1rem;
}
summary {
  font-weight: bold;
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}
summary:focus {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/down-arrow.svg);
}
summary::-webkit-details-marker {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
  color: transparent;
}
summary:focus::-webkit-details-marker {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/down-arrow.svg);
} */
