h1:not([class]),
h2:not([class]),
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]) {
  color: var(--primary);
  font-family: var(--font-family-alt1);
  font-weight: var(--font-weight-bold);
  margin: var(--heading-margin);
}

h1:not([class]) {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2:not([class]) {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3:not([class]) {
  font-size: 1.66rem;
  line-height: 2rem;
}

h4:not([class]) {
  font-size: 1.45rem;
}

h5:not([class]) {
  font-size: 1.25rem;
}

h6:not([class]) {
  font-size: 1.125rem;
}
