:where(h1),
:where(h2),
:where(h3),
:where(h4),
:where(h5),
:where(h6) {
  color: var(--primary);
  font-family: var(--font-family-alt1);
  font-weight: var(--font-weight-bold);
  margin: var(--heading-margin);
}

:where(h1) {
  font-size: 2.5rem;
  line-height: 3rem;
}

:where(h2) {
  font-size: 2rem;
  line-height: 2.5rem;
}

:where(h3) {
  font-size: 1.66rem;
  line-height: 2rem;
}

:where(h4) {
  font-size: 1.45rem;
}

:where(h5) {
  font-size: 1.25rem;
}

:where(h6) {
  font-size: 1.125rem;
}
