:where(h1),
:where(h2),
:where(h3),
:where(h4),
:where(h5),
:where(h6) {
  color: var(--primary);
  font-family: var(--font-family-alt1);
  font-weight: var(--font-weight-bold);
  margin: var(--heading-margin);
}

:where(h1) {
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
  line-height: clamp(1.5rem, 8vw - 2rem, 3rem);
}

:where(h2) {
  font-size: clamp(1.2rem, 8vw - 2rem, 2.5rem);
  line-height: clamp(1.2rem, 8vw - 2rem, 2.5rem);
}

:where(h3) {
  font-size: clamp(1.1rem, 8vw - 2rem, 1.66rem);
  line-height: clamp(1.1rem, 8vw - 2rem, 1.66rem);
}

:where(h4) {
  font-size: clamp(1rem, 8vw - 2rem, 1.45rem);
}

:where(h5) {
  font-size: clamp(0.9rem, 8vw - 2rem, 1.25rem);
}

:where(h6) {
  font-size: clamp(0.8rem, 8vw - 2rem, 1.125rem);
}
