hgroup {
  border-left: 5px solid var(--primary);
  display: block;
  margin: var(--heading-margin);
  padding-left: 1rem;
}

hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 {
  margin: 0;
}
