hgroup:not([class]) {
  border-left: 5px solid var(--primary);
  display: block;
  margin: var(--heading-margin);
  padding-left: 1rem;
}

hgroup:not([class]) h1:not([class]),
hgroup:not([class]) h2:not([class]),
hgroup:not([class]) h3:not([class]),
hgroup:not([class]) h4:not([class]),
hgroup:not([class]) h5:not([class]),
hgroup:not([class]) h6:not([class]) {
  margin: 0;
}
