:where(ul),
:where(ol) {
  margin: var(--line-height) 0;
  padding-left: 2rem;
}
:where(ul ul),
:where(ol ol) {
  margin: 0;
}

:where(li) {
  font-size: 1rem;
  line-height: var(--line-height);
  max-width: 80ch;
  max-width: calc(80ch - 3rem);
}

:where(li > ul) {
  margin: 0;
}
