/* variables */
:root {
  --background-color: #ffffff;
  --selection-color: #27ae60;
  --color-primary: #2c3e50;
  --color-danger: #c0392b;
  --color-success: #27ae60;
  --color-warning: #f39c12;
  --font-size: 1.6rem;
  --font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
