/* use variables from 'variables.pcss' to customize */
@import 'src/_variables.pcss';

/* main-root */
@import 'src/base/root/*.pcss';

/* sectioning */
@import 'src/base/sectioning/*.pcss';

/* text-content */
@import 'src/base/text-content/*.pcss';
