@import 'node_modules/sanitize.css/sanitize.css';
@import 'node_modules/sanitize.css/page.css';
@import 'node_modules/sanitize.css/typography.css';

/* use variables from 'variables.pcss' to customize */
@import 'src/_variables.pcss';

/* main-root */
@import 'src/critical/main-root/*.pcss';

/* sectioning */
@import 'src/critical/sectioning/*.pcss';

/* text-content */
@import 'src/critical/text-content/*.pcss';
