/* use variables from 'variables.pcss' to customize 
@import './src/_variables.pcss';
*/

@import 'src/_variables.pcss';

/* Reset */
@import 'node_modules/sanitize.css/sanitize.css';

/* main-root */
@import 'src/critical/main-root/*.pcss';

/* sectioning */
@import 'src/critical/sectioning/*.pcss';

/* text-content */
@import 'src/critical/text-content/*.pcss';

/* forms */
@import 'src/critical/form/*.pcss';

