/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
:where(ul[role="list"]),
:where(ol[role="list"]) {
  list-style: none;
}

/* Set core root defaults */
:where(html) {
  scroll-behavior: smooth;
}

/* Set core body defaults */
:where(body) {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
:where(a):not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
:where(img),
:where(picture) {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
:where(input),
:where(button),
:where(textarea),
:where(select) {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
