/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  height: 1px; /* 1 */
  overflow: visible; /* 2 */

  border: none;
  background-color: var(--color-primary);
}