body {
  font-family: var(--font-family);
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/*
@media all and (min-width: 1024px) {
  body {
    max-width: 920px;
  }
}

@media all and (min-width: 1200px) {
  body {
    max-width: 1080px;
  }
}
*/