html {
  background-color: var(--secondary-bg);
  box-sizing: border-box;
  color: var(--secondary);
  cursor: default;
  font-family: var(--font-family);
  font-size: var(--font-size-root);
  font-weight: var(--font-weight-normal);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-break: break-word;
}
