/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

fieldset {
  /*! sanitize.css v7.0.3 | CC0 License | github.com/csstools/sanitize.css */
  /**
   * Correct the padding in Firefox.
   */
  padding: 0.35em 0.75em 0.625em;
  /**
   * End of sanitize.css
   */
  border: 1px solid var(--color-primary);
}
